.twitter-typeahead{
    position: relative;
    display: inline-block;
    direction: ltr;
    width: 100%;
}
span.form-control-feedback.left.top-label{
    margin-top: 26px;
}


.input-group>.twitter-typeahead {
     position: relative;
     -ms-flex: 1 1 auto;
     -webkit-box-flex: 1;
     flex: 1 1 auto;
     width: 1%;
     margin-bottom: 0;
 }
 .input-group>.twitter-typeahead:not(:last-child) {
     /*border-top-right-radius: 0;
     border-bottom-right-radius: 0;*/
 }
 .input-group>.twitter-typeahead>.tt-input {
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
 }
 .form-control.tt-input:focus {
     z-index: 3
 }

 .btn-personalizado{
 	background-color: #e9ecef;
 	border-left: 1px solid #ced4da;
 	border-top: 1px solid #ced4da;
 	border-bottom: 1px solid #ced4da;	
 	border-top-right-radius: 0px;
 	border-bottom-right-radius: 0px;
 }
 .input-personalizado{
 	border-top-left-radius: 0px;
 	border-bottom-left-radius: 0px;
 	
 }




 /*gif mientras carga*/
#WindowLoad
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    background: rgba(0, 0, 0, 0.4);
    /*filter:alpha(opacity=65);
   -moz-opacity:65;
    opacity:0.65;
    background:#999;*/
}
#WindowLoad #letra
{
    font-family: 'Calibri';

}

/*GIF PROCESANDO*/
@keyframes lds-facebook_1 {
  0% {
    top: 36px;
    height: 128px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@-webkit-keyframes lds-facebook_1 {
  0% {
    top: 36px;
    height: 128px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@keyframes lds-facebook_2 {
  0% {
    top: 41.99999999999999px;
    height: 116.00000000000001px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@-webkit-keyframes lds-facebook_2 {
  0% {
    top: 41.99999999999999px;
    height: 116.00000000000001px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@keyframes lds-facebook_3 {
  0% {
    top: 48px;
    height: 104px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
@-webkit-keyframes lds-facebook_3 {
  0% {
    top: 48px;
    height: 104px;
  }
  50% {
    top: 60px;
    height: 80px;
  }
  100% {
    top: 60px;
    height: 80px;
  }
}
.lds-facebook {
  position: relative;
  margin-left: auto;
  margin-right: auto;  
}
.lds-facebook div {
  position: absolute;
  width: 30px;
}
.lds-facebook div:nth-child(1) {
  left: 35px;
  background: #0096ce;
  -webkit-animation: lds-facebook_1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: lds-facebook_1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-facebook div:nth-child(2) {
  left: 85px;
  background: #00a9e8;
  -webkit-animation: lds-facebook_2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: lds-facebook_2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.lds-facebook div:nth-child(3) {
  left: 135px;
  background: #00baff;
  -webkit-animation: lds-facebook_3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: lds-facebook_3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.lds-css{
    position: relative;
}

#scrollable-dropdown-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}
.error{
  color: red;
}

@media (max-width:767px){
}
@media (min-width:768px){
  .altura_producto{
    height: 150px;
  }
  .position_precio{
    position:absolute;
    bottom:0px;
    /*right: 0px;*/
    width: 100%;
  }
  .position_contenedor{
    position:relative;
  }
}
@media (min-width:992px){
  .altura_producto{
    height: 150px;
  }
}
@media (min-width:1200px){
  .altura_producto{
    height: 120px;
  }
  .margin_left{
    /*margin-left: 10px;*/
  }
  .margin_right{
    /*margin-right: 10px;*/
  }
  .margene_top_bo{
    margin-top:5px;
    margin-bottom: 5px;
  }
}
.borde_producto{
  border: 1px #ddd solid;
}
.efecto_hover:hover{
  box-shadow:0 16px 48px -28px #3c3c3c;transform:translateY(-5px)
}
.efecto_hover{
  transition: all ease-in-out .3s;
}

.sin_decoration_a,.sin_decoration_a:hover{
  text-decoration: none;
}
.color_negro{
  color:black;
}
.fondo_blanco{
  background-color: white;
}
.padding_descripcion{
  padding: 3px;
}
.fondo_1{
  background-color: rgb(0, 189, 233);
}
.fondo_2{
  background-color: #709ff7;
}
.fondo_3{
  background-color: #09e390;
}
.fondo_4{
  background-color: #f7ad3f;
}
.fondo_5{
  background-color: #a7a9d8;
}
.fondo_6{
  background-color: #bf7ae5;
}
.color_blanco{
  color:white;
}
.alinear_derecha{
  text-align: right;
}
.size17{
  font-size: 17px;
}
.size18{
  font-size: 18px;
}
.centrar{
  text-align: center;
}
.ancho_full{
  width:100%;
}